/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: -0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: -0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: -0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: -1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}



.col-1 {
  width: calc(8.3333333333%*1);
}

.col-2 {
  width: calc(8.3333333333%*2);
}

.col-3 {
  width: calc(8.3333333333%*3);
}

.col-4 {
  width: calc(8.3333333333%*4);
}

.col-5 {
  width: calc(8.3333333333%*5);
}

.col-6 {
  width: calc(8.3333333333%*6);
}

.col-7 {
  width: calc(8.3333333333%*7);
}

.col-8 {
  width: calc(8.3333333333%*8);
}

.col-9 {
  width: calc(8.3333333333%*9);
}

.col-10 {
  width: calc(8.3333333333%*10);
}

.col-11 {
  width: calc(8.3333333333%*11);
}

.col-12 {
  width: calc(8.3333333333%*12);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.row [class*="col-"] {
  box-sizing: border-box;
  margin: 0 0;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-auto-flow: row;
}

  .grid-col-1 {
    grid-column: span 1;
  }

  .grid-col-2 {
    grid-column: span 2;
  }

  .grid-col-3 {
    grid-column: span 3;
  }

  .grid-col-4 {
    grid-column: span 4;
  }


  .grid-row-2 {
    grid-row: 1 / 3;
  }

  .grid-row-3 {
    grid-row: 1 / 4;
  }

  .grid-row-4 {
    grid-row: 1 / 5;
  }


[class^="box"] {
  box-sizing: border-box;
}






body {
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top {
  height: 60px;
  background: #333;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.sidebar {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  height: calc(100vh - 60px);
  width: 320px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 998;
}

.main-content {
  width: calc(100% - 320px);
  margin-left: 320px;
  padding-top: 60px;
}

.card {
  min-height: 200px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.page-wrap {
  padding: 30px;
}

.card-wrap {
  padding: 20px;
}


.card-header {
  height: 24px;
  position: relative;
}

.card-header h2 {
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  margin: 0;
  display: block;
}

.card-header .more-icon {
  height: 24px;
  width: 5px;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 24px;
}

.card-header .more-icon .dot {
  position: relative;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #666;
}

.card-header .more-icon .dot:before,
.card-header .more-icon .dot:after {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #666;
  content: '';
  position: absolute;
  right: 0;
}

.card-header .more-icon .dot:before {
  top: -8px;
}

.card-header .more-icon .dot:after {
  bottom: 8px;
}

.card-content {
  padding: 20px 0;
}

@media (max-width: 1200px) {
  .grid-wrapper .card {
    grid-column: span 3;
  }

  .grid-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }

  .sidebar {
    position: absolute;
    display: none;
  }

  .main-content {
    width: 100%;
    margin: 0;
  }

}


@media (max-width: 767px) {

  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-wrapper .card {
    grid-column: span 2;
  }

  .order-mobile-1 {
    order: -1;
  }

  .order-mobile-2 {
    order: -2;
  }

  .order-mobile-3 {
    order: -3;
  }

  .order-mobile-4 {
    order: -4;
  }
}

* {
  box-sizing: border-box;
}


.filterbar {
  width: 300px;
  z-index: 10;
  position: relative;
}

.filterbar .tertiary-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
}

.filterbar .tertiary-nav.is-sticky {
  position: fixed;
  top: 0;
}

.main-page.col {
  width: calc(100% - 300px);
}

.page-header {
  position: relative;
  height: 111px;
}

.primary-header {
  background-image: linear-gradient(201deg, #191A25 0%, #3A3A3F 100%);
  height: 60px;
}

.secondary-header {
  height: 50px;
  background: #fff;
}

.logo {
  display: inline-block;
  outline: none;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
}
.primary-header,
.secondary-header {
  padding: 0 20px;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.check-list li {
  position: relative;
}

.check-list li .input-wrap {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  border: solid 1px #888;
}

.check-list li .label {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  padding-left: 10px;
}

.check-list li .label em {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.search-box {
  border: solid 1px #ccc;
  height: 40px;
  padding: 0 10px;
}

.filter-wrap {
  padding: 20px;
  background: #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  position: relative;
  z-index: -999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  padding-top: 60px
}

.filter-wrap.active {
  display: block;
  opacity: 1;
  pointer-events: initial;
  z-index: 999;
}

.search-box .search-title {
  height: 40px;
  line-height: 40px;
  opacity: 0.7;
}

.main-page {
  background: #f4f4f4;
  margin-left: 1px;
  min-height: 100vh;
}

section.summary {
  height: 400px;
  background: #fff;
  border-radius: 6px;
}

.listing {
  padding: 20px 0;
}

.filterbar h3,
.filterbar h4 {
  margin: 0;
}

.filterbar h3 {
    font-weight: 400;
    padding: 20px 0;
    font-size: 16px;
    color: #666;
}

.accordion {
    border-top: solid 1px #ddd;
    padding: 10px 0;
}

.accordion h4 {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 10px;
  color: #888;
}

.accordion li {
  height: 30px;
  line-height: 30px;
  color: #888;
}

.listing-header {
  height: 50px;
  background: #eee;
  line-height: 50px;
  padding: 0 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
}

.search-wrap .search-field {
  position: relative;
  border: solid 1px #ddd;
  background: #fff;
  height: 36px;
  margin-top: 7px;
}

.search-wrap .filter {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 0;
  height: 36px;
  line-height: 36px;
}

.search-wrap .search-icon {
  position: absolute;
  left: 10px;
  top: 0;
  height: 36px;
  line-height: 36px;
}

.trigger-filter,
.trigger-filter-2 {
  cursor: pointer;
}

.trigger-filter.active,
.trigger-filter-2.active {
  color: blue;
}

.icon-button {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
}

.trigger-close {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 10px;
  background: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.tertiary-nav {
  padding: 0;
  background: #fff;
  height: 100%;
}

.tertiary-nav li {
  display: block;
  height: 50px;
}

.tertiary-nav li a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #777;
  text-decoration: none;
  padding: 0 20px;
}

.tertiary-nav li.active a {
  color: #444;
  background: #f8f8f8;
}

.content-header {
  background: #fff;
  height: 50px;
  padding: 0 20px;
}

.main-page-wrap {
  padding: 10px;
}

.content-header h1 {
  margin: 0;
  font-size: 20px;
  line-height: 50px;
}

.secondary-nav li {
  height: 50px;
  display: inline-block;
  margin: 0 20px;
}

.secondary-nav li:first-child {
  margin-left: 0;
}

.secondary-nav li a {
  display: inline-block;
  width: 100%;
  height: 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #888;
  line-height: 50px;
}

.secondary-nav li a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 3px;
  background: #01A982;
  opacity: 0;
}

.secondary-nav li.active a:after {
  opacity: 1;
}

.listing-header.is-sticky {
    position: fixed;
    left: 310px;
    top: 10px;
    right: 10px;
    z-index: +1;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}



.nav-up {
    top: -111px;
}

.right-sidebar {
  width: 340px;
}

.summary-wrap {
  padding: 20px;
}

.square .summary {
  border-radius: 0;
  height: 300px;
}

.square .main-page {
  background: #eee;
  width: calc(100% - 340px);
  padding: 0;
}

.square .main-page .main-page-wrap {
  padding: 0;
}

.square .content-header {
  padding: 0;
    border-bottom: solid 1px #eee;
}

a {
  text-decoration: none;
}

.bread-crumb-nav {
  display: block;
  height: 50px;
  padding-left: 20px;
}

.bread-crumb-nav li {
  display: inline-block;
  height: 50px;
}

.bread-crumb-nav li a {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #999;
  padding-right: 10px;
}

.bread-crumb-nav li a i {
  font-size: 8px;
}

.bread-crumb-nav li.current a {
  font-size: 18px;
  font-weight: 500;
  color: #444;
}

.right-sidebar {
  padding: 10px;
}
.rs-wrap {
  min-height: 100vh;
  background: #fff;
}

.tab-nav {
  height: 50px;
}

.tab-nav li {
  width: 100%;
}

.tab-nav li a {
  height: 50px;
  display: block;
  border-right: solid 2px #fff;
  text-align: center;
  font-size: 18px;
  color: #666;
  text-decoration: none;
  line-height: 50px;
  font-weight: 600;
}

.tab-nav li:last-child a {
  border-right: none;
}

.tab-nav li:first-child a {
  background: #fff;
  color: #444;
  position: relative;
}

.tab-nav li:first-child a:before {
  content: '';
  display: block;
  left: 0;
  right: 0;
  top: -3px;
  height: 4px;
  background: #01A982;
}

.active-tab {
  background: #fff;
}

.rs-wrap {
  padding: 10px;
}

.rs-wrap h2 {
  font-size: 18px;
  margin: 0;
  display: block;
  padding: 10px;
  background: #f8f8f8;
}
.rs-content {
  border: solid 1px #eee;
  margin-bottom: 10px;
}

.content-list {
  padding: 10px;
}

.content-list li {
  padding: 10px 0;
  font-size: 12px;
}
.content-list li span {
  width: 47%;
  display: inline-block;
  vertical-align: top;
}

.content-list li .label {
  font-weight: 600;
  color: #666;
}

.table {
  padding: 20px;
}

.table .row {
  padding: 15px 0;
  border-bottom: solid 1px #eee;
}
.table .row .cells {
  width: 100%;
  background: #eee;
  height: 20px;
  margin: 0 10px;
}

.content-header.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    z-index: 99999;
}



.listing-row-wrap .col {
  width: 100%;
}


.content-header a.primary-button {
    float: right;
    margin-right: 20px;
    width: 120px;
    text-align: center;
    background: #00a981;
    height: 36px;
    line-height: 36px;
    color: #fff;
    margin-top: 7px;
}

.floating-filter-wrap {
  width: 0;
  opacity: 0;
  z-index: -100;
  padding: 0;
}

.floating-filter-wrap.active {
  width: 300px;
  opacity: 1;
  pointer-events: initial;
  z-index: +10;
  padding: 0 10px;
}

.listing-row-wrap.active .filter-wrap.floating-filter {
  width: 280px;
}

.listing-row-wrap .floating-filter-wrap .floating-filter {
  border-radius: 6px;
}

.right-is-sticky .listing-header.is-sticky {
    right: 260px;
}

.floating-filter.filter-wrap {
  padding-top: 10px;
}

.table-wrap {
  background: #fff;
  padding: 1rem;
}

.table {
  width: 100%;
}

.table td {
  font-size: 18px;
  color: #555;
}

.table .divTableHeading  {
  border-bottom: solid 1px #ccc;
  position: relative;
}

table.simple-table {
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
table.simple-table td, table.simple-table th {
  padding: 10px 10px;
}
table.simple-table tbody td {
  font-size: 16px;
  color: #666666;
  border-bottom: solid 1px #ddd;
}
table.simple-table tr:nth-child(even) {
  background: #FAFAFA;
}
table.simple-table thead {
    border-bottom: 1px solid #DDDDDD;
}
table.simple-table thead th {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  background: #F2F2F2;
}
table.simple-table tfoot {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  background: #F2F2F2;
}
table.simple-table tfoot td {
  font-size: 16px;
}


.selectable-table tr.selected,
table.simple-table.selectable-table tr.selected,
.selectable-table tr.selected:hover,
table.simple-table.selectable-table tr.selected:hover {
  background: #E9FAF9;
}

.selectable-table tr:hover,
table.simple-table.selectable-table tr:hover {
  background: #eee;
}

.checkbox-wrap {
  width: 22px;
  height: 22px;
  display: inline-block;
  border: solid 2px #ccc;
  border-radius: 4px;
  vertical-align: middle;
  background: #fff;
  position: relative;
}

.checkbox-wrap:after {
  content: "\f00c";
  width: 18px;
  height: 18px;
  font-size: 16px;
  text-align: center;
  line-height: 18px;
  color: #ccc;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "FontAwesome";
  pointer-events: none;
}
.styled-checkbox {
  width: 22px;
  height: 22px;
  position: relative;
  opacity: 0;
}

.checkbox-wrap.checked {
  border-color: #01A982;
}

.checkbox-wrap.checked:after {
  opacity: 1;
  color: #01A982;
}

table.simple-table.lined-table thead th {
    background: #fff;
}

table.simple-table.lined-table tbody td {
  border: none;
}


.click-selectable-table tbody tr {
  cursor: pointer;
}

.overlay {
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
}

.overlay .sidepanel {
  position: fixed;
  right: 0;
  width: 480px;
  background: #fff;
  bottom: 0;
  height: 100%;
  z-index: +1;
}

.sidepanel h1,
.sidepanel h2,
.sidepanel h3 {
  margin: 0;
} 

.sidepanel-wrap {
    position: relative;
    height: 100%;
}

.sidepanel-header {
    top: 0;
    background: #fff;
    height: 60px;
    line-height: 60px;
    padding: 0 24px;
}

.sidepanel-content {
    padding: 24px;
}

.sidepanel-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 480px;
    padding: 0 24px;
    height: 60px;
    line-height: 60px;
    border-top: solid 1px #ddd;
}

.sidepanel-content {
    position: absolute;
    top: 60px;
    bottom: 60px;
    right: 0;
    left: 0;
    background: #fff;
    overflow: auto;
}

#tags{
  
}
#tags span{
  cursor:pointer;
  display:block;
  color:#fff;
  background:#789;
  padding:0 8px;
  padding-right:25px;
  margin:4px;
  line-height: 32px;
  height: 32px;
  position: relative;
  border-radius: 4px;
}
#tags span:hover{
  opacity:0.7;
}
#tags span:after{
 position:absolute;
 content:"×";
 height: 32px;
 line-height: 29px;
 margin-left:3px;
 font-size:16px;
 right: 8px;
}
#tags input{
  width:100%;
}


.field label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #777;
    margin-bottom: 4px;
}

.field input[type=text],
.field .fieldbox {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #444;
    font-size: 14px;
    padding: 0 10px;
    margin-bottom: 4px;
    background: #fff;
    border: solid 1px #ddd;
}

#tags .field {
  position: relative;
  margin-bottom: 24px;
}

#tags .field input {
    margin-bottom: 88px;
}

#tags .field .info-block {
    position: absolute;
    top: 70px;
    background: #f7f8f9;
    font-size: 14px;
    padding: 16px;
}

.fancy-select {
    height: 40px;
    border: solid 1px #ddd;
    border-radius: 4px;
    margin-bottom: 4px;
}

.select-field span.txt {
    width: calc(100% - 40px);
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 40px;
    color: #444;
}

.select-field span.icon {
    width: 33px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

.fieldset {
  margin-bottom: 24px;
}

button {
    height: 40px;
    border-radius: 4px;
    line-height: 36px;
    font-weight: bold;
    padding: 0 16px;
    margin-right: 8px;
    box-sizing: border-box;
    border: solid 2px #01A982;
    background: #fff;
}

button.primary {
  background: #01A982;
  color: #fff;
}

button.secondary {
  color: #444;
  border: solid 2px #01A982;
}

button.tertiary {
  color: #444;
  border: solid 2px #fff;
}

@media screen and (max-width: 768) and (min-width: 0) {
  
}

